init_topo_polygon/data/*/*.csv
Tectonic_Uplift/*/*.nc
Tectonic_Uplift/*/*.gmt
Tectonic_Uplift/Feature_grids/*.nc
Tectonic_Uplift/Feature_grids/Collision*.nc
AUS/AUS*/*
AUS/*
*.nc
*.gmt
*.pyc
*.sublime-*
*.so
pyBadlands.egg-info/
*.mod
*.o
*.img
Examples/.ipynb_checkpoints/
pyBadlands/libUtils/WaveComp/SwanSrc/*.o
*.swp
*.hdf5
*.xmf
*.xdmf
*.directory
*.swp
.ipynb_checkpoints
build/
output_*
output/
.AppleDouble
__MACOSX
.DS_Store
*.dSYM
doc/_build/
tags
doc/env/
npm-debug.log
Examples/*/results_*
Examples/*/*results_*
Examples/*/images/*
Examples/*/*_liklsurf*
Examples/*/*.zip
Examples/*/.idea/ 
doc/*
foldername.txt
Examples/*/Output/*
pyBadlands/libUtils/*.so
pyBadlands/libUtils/*.o 
pyBadlands/simulation/*.pyc
pyBadlands/*/*.pyc

 
init_topo_polygon/*.csv
